# **Data Types and Structures Questions**

Q1. What are data structures, and why are they important ?
 - A data structure is a method for organizing, storing, and managing data in a computer so it can be accessed and modified efficiently.

 They are important because:-
*   Performance & Efficiency
*   Make coding smarter

Q2. Explain the difference between mutable and immutable data types with examples ?
 - Mutable Data : Mutable data can be changed in place—their contents or can be modified after creation.Examples (Lists,Set and Dictionaries)
 - Immutable Data : Immutable data cannot be changed or modified once its created.Examples (Tuples,Str and Frozensets)

Q3. What are the main differences between lists and tuples in Python ?
 - The main differences between lists and tuples in python is that Lists are mutable whereas Tuples are immutable.

Q4. Describe how dictionaries store data ?
 - A Python dict is an associative array or hash table that maps immutable keys (like strings, numbers, or tuples) to arbitrary values—stored as key: value pairs.

Q5. Why might you use a set instead of a list in Python ?
 - I like to use set instead of list in python because set do not contains any duplicate elements or data in it whereas list contains duplicate.

Q6. What is a string in Python, and how is it different from a list ?
 - A string in Python is a sequence of characters enclosed in quotes, like "hello" or 'Python'. It's immutable, which means you cannot change any character once the string is created.
 - A list is a sequence of items enclosed in square brackets, like [1, "hello", 3.14]. Lists can contain any data type, and they are mutable, meaning you can change, add, or remove elements after creation.

Q7. How do tuples ensure data integrity in Python ?
 - Once a tuple is created, its contents cannot change—no adding, no modifying, no deleting elements. Attempting to do so raises a TypeError. That makes tuples reliable and unchanging containers.

Q8. What is a hash table, and how does it relate to dictionaries in Python ?
 - A hash table is a powerful data structure used to store key → value pairs in a way that enables extremely fast insertion, lookup, and deletion.

Q9. Can lists contain different data types in Python ?
 - Yes, Python lists can contain different data types.

Q10. Explain why strings are immutable in Python ?
 - Strings are immutable in python because we can not do changes or modified it after creating because it is a immutable and its hashable.

Q11. What advantages do dictionaries offer over lists for certain tasks ?
 - The advantages of ditionaries over lists are :-
*   Unique Keys & Data Integrity
*   Meaningful Key-Based Access
*   Flexible, Mutable Mapping

Q12. Describe a scenario where using a tuple would be preferable over a list ?
 - So imaging we are entering the data of employees where we have have to enter the employee ID at that time we can use tuple over list because in future employee id will be fix and can't be changed.

Q13. How do sets handle duplicate values in Python ?
 - A set is an unordered collection of unique elements. If you try to add the same item more than once, Python simply ignores the duplicate—it won't be added again.

Q14. How does the “in” keyword work differently for lists and dictionaries ?
 - Lists - "in" Scans each element one by one until it finds a match or reaches the end.
 - Distionaries - "in" Uses the dictionary’s hash table to perform a quick lookup—usually in O(1) time.

Q15. Can you modify the elements of a tuple? Explain why or why not ?
 - No we can't modify the elements of tuple because tuple is immutable if we try to do modify than it will throug an error.

Q16. What is a nested dictionary, and give an example of its use case ?
 - A nested dictionary in Python is simply a dictionary where one or more of its values are also dictionaries. This structure lets you organize hierarchical or grouped data in a clear, intuitive way.

 Imagine you're building an employee management system where each department has multiple employees, and each employee has details like name, role, and salary. A nested dictionary is ideal for this scenario.

Q17. Describe the time complexity of accessing elements in a dictionary.
 - In Python, dictionaries are implemented using hash tables, which provide efficient key-value mapping. The time complexity of accessing elements in a dictionary is generally O(1), meaning it takes constant time regardless of the size of the dictionary.

Q18. In what situations are lists preferred over dictionaries ?
 - In Python, lists are preferred over dictionaries in scenarios where:
*  Order Matters
*  Index-Based Access
*  Allowing Duplicates

Q19. Why are dictionaries considered unordered, and how does that affect data  retrieval ?
 - In Python, dictionaries are considered unordered collections because,they did not guarantee the order of elements. This lack of order was due to the underlying implementation of dictionaries, which used hash tables optimized for fast lookups, rather than maintaining the sequence of insertion.
 - The unordered nature of dictionaries in earlier versions meant that you couldn't rely on the order of items when iterating over them. This could lead to unpredictable behavior in your code. With the introduction of ordered dictionaries in Python 3.7, you can now expect a consistent order when accessing items. However, it's important to note that dictionaries are still primarily designed for fast lookups based on keys, and their main advantage lies in this efficiency rather than maintaining order.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Here a simple and focused explanation of how data retrieval differs between lists and dictionaries in Python:

 - Lists
*  x in some_list scans every element one by one until it finds a match or reaches the end.
*  Time Complexity: O(n) — runtime grows linearly with the list size.
So checking for presence in a large list can be slow.
 - Dictionaries
*  key in my_dict checks whether key exists in the dictionary keys.
*  Python uses a hash function to convert the key into a memory address, enabling direct access in constant time, independent of data size — O(1) on average.

In [2]:
# Q1.Write a code to create a string with your name and print it.

Name = "Sneha Singh"
print(Name)

Sneha Singh

In [4]:
# Q2.Write a code to find the length of the string "Hello World".

A = "Hello World"
len(A)

11

In [6]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming".

A = "Python Programming"
first_3 = A[:3]
print(first_3)

Pyt

In [7]:
# Q4.Write a code to convert the string "hello" to uppercase.

A = "hello"
A.upper()

'HELLO'

In [8]:
# Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

A = " I like apple"
A.replace("apple","orange")

' I like orange'

In [9]:
# Q6.Write a code to create a list with numbers 1 to 5 and print it.

Numbers = list(range(1,6))
print(Numbers)

[1, 2, 3, 4, 5]

In [10]:
# Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

A = [1, 2, 3, 4]
A.append(10)
print(A)

[1, 2, 3, 4, 10]

In [11]:
# Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

A = [1, 2, 3, 4, 5]
A.remove(3)
print(A)

[1, 2, 4, 5]

In [12]:
# Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

A = ['a', 'b', 'c', 'd']
B = A[1]
print(B)

b

In [13]:
# Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

A = [20, 40, 60, 80, 100]
B = A[::-1]
print(B)

[100, 80, 60, 40, 20]

In [15]:
# Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

A = (100, 200, 300)
print(A)

(100, 200, 300)

In [16]:
# Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

A = ('red', 'green', 'blue', 'yellow')
B = A[-2:]
print(B)

('blue', 'yellow')

In [17]:
# Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

A = (10, 20, 5, 15)
min(A)

5

In [18]:
# Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

A = ('dog', 'cat', 'rabbit')
B = A.index('cat')
print(B)

1

In [19]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

Fruits = ("apple","kiwi","pineaplle")
if "kiwi" in Fruits:
  print("Yes,kiwi is in the fruits tuple")
else:
  print("No,kiwi is in the fruits tuple")

Yes,kiwi is in the fruits tuple

In [20]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

My_set = {'1', '2', '3'}
print(My_set)

{'3', '1', '2'}

In [21]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

My_set = {1, 2, 3, 4, 5}
My_set.clear()
print(My_set)

set()

In [22]:
# Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

My_set = {1, 2, 3, 4}
My_set.remove(4)
print(My_set)

{1, 2, 3}

In [23]:
# Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Set1 = {1, 2, 3}
Set2 = {3, 4, 5}
union_set = Set1.union(Set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
# Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

Set1 = {1, 2, 3}
Set2 = {2, 3, 4}
inter_set = Set1.intersection(Set2)
print(inter_set)

{2, 3}

In [25]:
# Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

My_Dict = {"name":"Sneha","age":"22","city":"Kolkata"}
print(My_Dict)

{'name': 'Sneha', 'age': '22', 'city': 'Kolkata'}

In [26]:
# Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

My_dict = {'name': 'John', 'age': 25}
My_dict.update({'Country': 'USA'})
print(My_dict)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [27]:
# Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

My_dict = {'name': 'Alice', 'age': 30}
value = My_dict['name']
print(value)

Alice

In [28]:
# Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

My_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del My_dict['age']
print(My_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

My_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in My_dict:
  print("Yes its exists in dictionary")
else:
  print("No its not exits in dictionary")

Yes its exists in dictionary

In [30]:
# Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = ["Apple", 20, "Banana", "Baigan"] # Create a list
print("List:", my_list)
print() # using this for one line gap
my_tuple = ("apple", "banana", "cherry")   # Create a tuple
print("Tuple:", my_tuple)
print()
my_dict = {"name": "Raja", "age": 23,"languages": "Python"} # Create a dictionary
print("Dictionary:", my_dict)

List: ['Apple', 20, 'Banana', 'Baigan']

Tuple: ('apple', 'banana', 'cherry')

Dictionary: {'name': 'Raja', 'age': 23, 'languages': 'Python'}

In [31]:
'''
# Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
    result.(replaced).
'''

import random
# Step 1: Generate a list of 5 random numbers (1 to 100)
numbers = random.sample(range(1, 101), 5)
print("Unsorted:", numbers)

# Step 2: Sort the list in ascending order
numbers.sort()
print("Sorted:", numbers)

Unsorted: [47, 32, 94, 87, 75]
Sorted: [32, 47, 75, 87, 94]

In [33]:
# Q28.Write a code to create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "Litchi", "Guava", "Pineapple"]   # Create a list of strings
print("Third index:" ,fruits[3])  #  Access the element at the third index (fourth element)

Third index: Guava

In [34]:
# Q29.Write a code to combine two dictionaries into one and print the result.

d1 = {'a': 10, 'b': 20}
d2 = {'c': 30, 'd': 40}

merged = d1 | d2 # using union for merging both the dictionaries
print(merged)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [35]:
# Q30. Write a code to convert a list of strings into a set.

My_list = ["apple", "banana", "apple", "cherry"]
My_set = set(my_list)
print(My_set)

{'Apple', 'Baigan', 20, 'Banana'}